* {
    box-sizing: border-box;
    border: 0;
    outline: 0;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

a:hover {
    color: #d9d9d9;

}

footer {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0px;
    right: 0;
    border: 0px solid red;
}

.footer-left {

    border: 0px red solid;
    flex-basis: 60%;
}

.footer-right {

    border: 0px red solid;
    flex-basis: 40%;
}

h1 {
    margin-left: 2rem;
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2rem;
}

h2 {
    margin-left: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 3rem;
    text-shadow: #cccccc 2px 2px 2px;
}

img {
    border-radius: 0px;
}

ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

li {
    display: inline;
    float: right;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1rem;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    display: flex;
}

.flex-left {
    align-items: flex-start;
    border: 0px red solid;
    flex-basis: 60%;
}

.flex-right {
    align-items: flex-end;
    border: 0px red solid;
    flex-basis: 40%;
}

.flexnav {
    align-items: flex-end;
    justify-content: flex-start;
    height: 80px;
    z-index: 1;
}

.galleri {
    margin-top: 100px;
}

.icon {
    width: 40px;
}

.main {
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: center;
    display: block;
}

.main-index {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: 0px solid green;
    padding: 60px;
}

.galleri {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    border: 0px red solid;
    flex-flow: row wrap;
}

.projektruta {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
    height: 250px;
    min-height: 250px;
    max-height: 250px;
    padding: 5px;
    margin: 5px 5px 5px;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    transition: 0.5s ease-out;
    box-shadow: 1px 1px 1px 1px #ececec;
    border: 0px solid blue;
    flex-basis: 44%;
}

.projektruta:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
}

.projektruta:hover {
    opacity: 1;
}

.projektruta:hover:before {
    opacity: 0.7;
}

.projektruta:hover .projekt-text {
    opacity: 1;
}

.projektruta img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.projektruta .projekt-text {
    position: absolute;
    z-index: 3;
    color: rgb(181, 3, 89);
    opacity: 0;
    transition: 0s;
}

.projekt-text h2 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;

}

.projekt-text a {
    display: inline-block;
    border: 0px solid #fff;
    margin: 0;
    text-decoration: none;
    transition: 0s;
    color: #3a3a3a;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px;
    padding: 0px 0px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
    border: aqua solid 0px;
}

.flexitem {
    display: flex;
}

#bild-vanster {
    background: #ffffff;
    order: -1;
    flex-basis: 40%;
    opacity: 0.5;
}

#content {
    order: 1;
    padding: 3rem;
    flex-basis: 40%;
    justify-content: center;
    flex-flow: row wrap;
    font-weight: 500;
}

.fixed {
    position: fixed;
    width: 40%;
    background-image: url(../media/antonia.jpg);
    height: 100%;
    background-position-x: -20px;
    background-position-y: -120px;
    background-repeat: no-repeat;
    background-size: cover;
}

.sidebar {
    width: 20%;
}

div>p {
    margin-top: 1rem;
    font-weight: 300;
}

article>p {
    margin-top: 1rem;
    font-weight: 300;
    font-size: smaller;
}

article {
    margin: 0px 20%;
    margin-bottom: 100px;
    margin-top: 180px;
    font-size: 20px;
    font-weight: 500;
}
.thumb {
    opacity: 0.8;
    box-shadow: #3a3a3a 1px 1px 1px;
}

.thumb:hover {
    opacity: 1;
}

.a2 {
    width: 100%;
    height: 400px;
    border: 0px solid red;
    display: grid;
    justify-content: center;
    margin-bottom: 2rem;
}
.a2 img {
    width: 600px;
    height: 400px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 20px;
    width: 100%;
    padding: 0px;
    margin-top: 1rem;
    justify-content: center;
}

.grid-container>div {
    text-align: center;
    padding: 0;
    font-size: 15px;
    max-width: 135px;
}
.grid-container img {
    width: 135px;
    height: 100px;
}
